[
   {
      "FISCAL_YEAR": 2018,
      "START_DATE": {
         "YEAR": 2018,
         "DAY": 4,
         "MONTH": 2
      },
      "MONTH_LENGTH": [
         28,
         35,
         28,
         28,
         35,
         28,
         28,
         35,
         28,
         28,
         35,
         28
      ]
   }
]